/* Updated CSS for a minimalistic look */

:root {
  --main-bg-color: black;
  --sec-bg-color:#131313;
  --third-bg-color:#20252b ;
  --main-accent-color:#FFE81F;
  --sec-accent-color:#ffd600;
  --comp-color:white;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-attachment: fixed; /* Fixed background */
  /* Add any other styling you need */
}

.container {
  text-align: center;
  max-width: 800px;
  max-height: 90vh; /* Set a maximum height to fit within the viewport */
  overflow: auto; /* Add scrollbars if content exceeds the viewport height */
  margin-top: 5vh;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.44);
}

.header {
  font-size: 24px;
  font-family: 'Star Jedi', sans-serif;
  color: var(--main-accent-color);
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.image-card {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}

.image-card img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}


.input-field{
  background-color: var(--sec-accent-color);
  color: var(--sec-bg-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 24px;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px transparent;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.feedback {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.button {
  background-color: var(--main-bg-color);
  color: var(--sec-accent-color);
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
    position: absolute;
  top: 10px;
  right: 10px;
}

.button:hover {
  background-color: var(--sec-accent-color);
  color: var(--main-bg-color);
}

.timeline-content {
  display: flex;
  flex-direction: row; /* Change to row to display guesses side by side */
  align-items: center;
  margin-top: 10px; /* Add margin to separate from input */
}

.guess-item {
  display: flex;
  flex-direction: row; /* Keep this as column to separate guess and feedback */
  margin-right: 10px; /* Add some spacing between guesses */
}

.guess-value {
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

.feedback-value {
  font-weight: bold;
  font-size: 18px; /* Set the font size for feedback */
  color: #007acc; /* Default color is blue */
}

.feedback-value.lower {
  color: rgb(255,5,5); /* Set text to purple for "Lower" */
}

.feedback-value.higher {
  color: rgb(46,103,248)); /* Set text to blue for "Higher" */
}